<%- include('./partials/header.ejs') %>

    <% if (registered) { %>
        <p>Regisration failed because the student is already registered.</p>
    <% } else { %>
        <p>Regisration successful.</p>
    <% } %>

<%- include('./partials/footer.ejs') %>