* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Poppins;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #DF9610;
}

a:hover {
    color: #916220;
}

header {
    background: #6e5d5d;
    font-family: Nunito;
    font-size: 1.7rem;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
}

h3 {
    margin-top: 1rem;
}

button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    outline: none;
    background: #DF9610;
    color: #FFFFFF;
    transition: 0.6s ease all;
    cursor: pointer;
}

button:hover {
    color: #DF9610;
    background: #FFFFFF;
    border-radius: 60px;
}

.student-information div, .subhead {
    margin-bottom: 20px;
}

.subhead {
    font-family: Nunito;
}

.main-content {
    position: relative;
}

.left-side {
    padding: 1rem;
    position: absolute;
    width: 23rem;
    z-index: 1;
    background: #DF9610D8;
    color: #FFFFFF;
    height: 100vh;
    transition: 0.6s ease all;
    left: -200%;
}

li.item {
    list-style: none;
    cursor: pointer;
    display: flex;
    transition: 0.5s ease all;
    margin-bottom: 10px;
    padding: 0.7rem 0;
    width: 90%;
    border-radius: 5px;
    user-select: none;
}

li.item:hover {
    padding-left: 2rem;
    color: #DF9610;
    background: #FFFFFF;
}
.menu-icon, 
.close-left-side-icon,
.close-section-icon {
    width: 2rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
    transition: 0.5s ease all;
}

.close-section-icon {
    position: absolute;
    right: 1rem;
}

.close-left-side-icon {
    left: 88%;
    top: 1rem;
}

.close-left-side-icon:hover,
.close-section-icon:hover {
    transform: rotate(90deg);
}

.menu-icon {
    top: 1rem;
    right: 1rem;
}

.right-side {
    padding: 1rem;
}

.right-side div {
    margin-bottom: 20px;
}

.welcome-user {
    font-family: Nunito;
    padding: 1rem;
    background: #DF9610;
    margin-bottom: 20px;
    color: #FFFFFF;
    border-radius: 5px;
}

.bold {
    font-weight: bold;
}

.section,
.student-information,
.payment-status {
    display: none;
    padding: 1rem;
    background-color: #C0C0C0;
    border-radius: 5px;
}

.student-information {
    display: block;
}

.text-list {
    padding: 2rem;
}

.activities,
.calendar,
.updates,
.medical,
.lateness,
.attendance,
.payment {
    position: relative;
}

@media screen and (min-width: 950px) {
    .left-side {
        position: unset;
        background: #DF9610;
    }
    .right-side {
        width: 80%;
    }
    .close-left-side-icon, .menu-icon {
        display: none;
    }
    .main-content {
        display: flex;
        transition: 0.4s ease padding;
    }
}

@media screen and (min-width: 1000px) {
    .left-side {
        width: 30%; 
    }
    .right-side {
        width: 70%;
    }
}

@media screen and (min-width: 1200px) {
    .left-side {
        width: 28%; 
    }
    .right-side {
        width: 82%;
    }
}