@media screen and (min-width: 1160px) {
  .site-navigations {
    width: 80%;
    flex-direction: row;
    background: none;
    position: unset;
    padding: 0 2rem;
    margin-bottom: 0;
    transform: translateY(0);
    margin-top: 0;
  }
  .menu-icon {
    display: none
  }
  .login-icon {
    right: 1rem;
  }
  a, a:hover {
    color: #000000;
    padding: 0.3rem 1rem;
  }
  a:hover {
    background: #C39020;
    color: #FFFFFF;
  }
  .close-menu-icon {
    display: none;
  }
  .logo {
    height: 3rem;
  }
  .welcome-note {
    font-size: 2.3rem;
  }
  .note {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1000px) {
  .section-content {
    padding: 2rem 12rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: 30rem 30rem;
    grid-template-rows: auto auto auto;
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (min-width: 920px) {
  .welcome-note {
    font-size: 2rem;
  }
  .intersector {
    height: 170%;
  }
  .note {
    font-size: 3rem;
  }
  .cover-image-content {
    padding-left: 8rem;
  }
  .cards {
    flex-direction: row;
    justify-content: space-around;
  }
  .card-title {
    font-size: 1.5rem;
  }
  .card-digit {
    font-size: 1.2rem;
  }
  .column {
    flex-direction: row;
    justify-content: space-around;

  }
  .content-text {
    font-size: 1.4rem;
  }
  .column-text {
    width: 20rem;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 600px) {
  .contact-form {
    width: 30rem;
  } 
}
